
/* NÃO MUDAR NADA DAQUI PARA BAIXO */


/*
    Prioridade:
    id
    class
    tag
    ordem
*/
* {
    box-sizing:border-box
}

a {
    text-decoration:none
}
body {
    margin:0;
    padding:0;
    font-size:14px
}

p {
    margin:10px 0 10px 0
}



/**
 * Cálculo colunas:
 * largura_unica_porcentagem = 100 / maximo_colunas
 *
 * Multiplicamos largura_unica_porcentagem pelo tamanho da coluna
 */
.container,.container-fluid {
    width:100%;
    padding-left:15px;
    padding-right:15px
}
.row {
    margin-left:-15px;
    margin-right:-15px
}

.row:before,.row:after {
    content:" ";
    display:table
}

.row:after {
    clear:both
}

.col {
    position:relative;
    padding-left:15px;
    padding-right:15px;
    min-height:1px;
    float:left
}

.col-1 {
    width:16.666666%
}

.col-2 {
    width:33.333332%
}

.col-3 {
    width:49.999998%
}

.col-4 {
    width:66.666664%
}

.col-5 {
    width:83.33333%
}

.col-6{
    width:100%
}

@media (min-width:992px) {
    .container {
        max-width:992px;
        margin:0 auto
    }
    
    .col-desktop-1 {
        width:8.333333%
    }
    
    .col-desktop-2 {
        width:16.66%
    }
    
    .col-desktop-3 {
        width:24.999999%
    }
    
    .col-desktop-4 {
        width:33.333332%
    } 
    
    .col-desktop-5 {
        width:41.666665%
    }

    .col-desktop-6 {
        width:49.999998%
    }
    
    .col-desktop-7 {
        width:58.333331%
    }

    .col-desktop-8 {
        width:66.666664%
    }
    
    .col-desktop-9 {
        width:74.999997%
    }
    
    .col-desktop-10 {
        width:83.33333%
    }
    
    .col-desktop-11 {
        width:91.666663%
    }
    
    .col-desktop-12 {
        width:100%
    }
    
    .col-offset-desktop-1 {
        margin-left:8.333333%
    
    }.col-offset-desktop-2 {
        margin-left:16.66%
    
    }.col-offset-desktop-3 {
        margin-left:24.999999%
    
    }.col-offset-desktop-4 {
        margin-left:33.333332%
    
    }
    
    .col-offset-desktop-5 {
        margin-left:41.666665%
    }
    
    .col-offset-desktop-6 {
        margin-left:49.999998%
    }
    
    .col-offset-desktop-7 {
        margin-left:58.333331%
    }
    
    .col-offset-desktop-8 {
        margin-left:66.666664%
    }
    
    .col-offset-desktop-9 {
        margin-left:74.999997%
    }
    
    .col-offset-desktop-10 {
        margin-left:83.33333%
    }
    
    .col-offset-desktop-11 {
        margin-left:91.666663%
    }
    
    .col-offset-desktop-12 {
        margin-left:100%
    }
}

@media (min-width:1200px){.container{max-width:1200px}}



h2 {
    text-transform:uppercase;
    font-weight:normal;
    text-align:center;
    font-size:25px;
    margin:10px 0 20px 0
}

h2:after {
    content:'';
    display:block;
    background-color: #e4b21c;
    margin:5px auto 0 auto;
    width: 60px;
    height:2px
}

.subtitle {
    margin-bottom:80px;
    font-size: 20px;
}


nav ul,nav ul li {
    list-style:none;
    margin:0;
    padding:0
}

body {
    font-family:'Open Sans',sans-serif;
    color:rgb(130,130,130);
    line-height:25px
}


.section {
    padding:30px 0 30px 0
}

.section-center {
    text-align:center;
    background-color: rgba(176, 174, 174, 0.263);
}



@media (max-width:992px) {
    #header, #header nav {
        text-align:center
    }
}

/* NÃO MUDAR NADA DAQUI PARA CIMA */

/* ÍNICIO DO RODAPÉ */


#footer {
    background-color:rgb(51,51,51);
    text-align:left
}

#footer, #footer a {
    color:rgb(204,204,204)
}

#footer h3, #footer nav li {
    text-transform:uppercase
}

#footer h3:after {
    content:'';
    display:block;
    border-bottom:2px solid rgb(204,204,204);
    width:30px
}

#footer nav li {
    padding:3px 0
}

#footer nav li a:hover {
    color:rgb(255,255,255)
}

#footer .social {
    height:200px;
    line-height:200px;
    text-align:right
}

#footer .social a {
    display:inline-block;
    padding:0 0 0 10px;
    opacity:1
}

#footer .social a:hover {
    opacity:.5;
    transition:ease .3s all
}

#footer .social img {
    vertical-align:middle
}

#copyright {
    text-align:center; 
    background-color:rgb(34,34,34);
    padding:10px
}

.rodape-texto p {
    text-align: justify;
}

.col img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

/* FIM DO RODAPÉ */


/* INÍCIO DA NAV BAR */

.navbar {
    background-color: #000000; 
    padding: 10px 0; 
}

.navbar-content {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}
  
.navbar-logo img {
    height: 65px; 
    width: auto; 
}
  
.navbar-menu ul {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
}
  
.navbar-menu li {
    margin-left: 20px; 
}
  
.navbar-menu a {
    color: #fff; 
    text-decoration: none; 
    font-size: 16px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3px;
}

.navbar-menu a:hover {
    background-color: #e4b21c;
    border-radius: 20px;
    padding: 8px;
    color: rgb(0, 0, 0);
}


/* FIM DA NAV BAR */

/* INÍCIO DA SESSÃO CONTATO/LOCALIZAÇÕES */
.section-center {
    text-align: center; 
    padding: 20px;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: rgba(176, 174, 174, 0.1); 
    border-radius: 8px; 
  }
  
  .contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
    gap: 30px; 
  }
  
  .contact-item {
    display: flex; 
    align-items: center; 
    max-width: 500px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 20px; 
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .contact-details {
    text-align: left; 
  }
  
  .contact-details p {
    margin: 5px 0; 
  }
  
  .contact-details a {
    color: #e4b21c; 
    text-decoration: none; 
  }
  
  .contact-details a:hover {
    text-decoration: underline; 
  }
  
  .contact-item img {
    max-width: 200px; 
    height: auto; 
    border-radius: 8px; 
    margin-right: 15px;
  }
  
  .contact-item .contact-details img {
    width: 60px; 
    height: auto; 
    margin-top: 10px; 
  }
  
  @media (max-width: 768px) {
    .contact-list {
      flex-direction: column; 
      align-items: center; 
    }
  
    .contact-item {
      max-width: 90%;
    }
  
    .contact-item img {
      max-width: 80px; 
    }
  }
  
h2 , .subtitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.contact-info {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}


/* FIM DA SESSÃO CONTATO/LOCALIZAÇÕES */

/* INÍCIO DA SESSÃO CONTATO/MENSAGEM */

  .contact-form {
    background-color: #fff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .contact-form h3 {
    margin-bottom: 20px; 
  }
  
  .form-group {
    margin-bottom: 15px; 
  }
  
  .form-group label {
    display: block; 
    margin-bottom: 5px; 
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
  }
  
  .contact-form button {
    background-color: #e4b21c; 
    color: #fff; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 50%
  }
  
  .contact-form button:hover {
    background-color: #d4a91d; 
  }
  

/* FIM DA SESSÃO CONTATO/MENSAGEM */





